<!-- Footer -->
    <!-- <footer style="background-color:#DBDEE2;" class="page-footer font-small elegant-color mt-3">           -->
        <div id="footer">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="#">Pedagang Kaki Lima</a>
            </div>    
        </div>          
    <!-- </footer> -->
<!-- Footer -->