<!-- Footer -->
    <footer style="background-color:#DBDEE2;" class="page-footer font-small elegant-color mt-3">
        <!-- Footer Links -->
        <div class="container text-center text-md-left pt-4 pt-md-5">
        <!-- Grid row -->
            <div class="row mt-1 mt-md-0 mb-4 mb-md-0">
                <!-- Grid column -->
                <div class="col-md-6 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">
                    <!-- Links -->
                    <h5>Footer text 1</h5>
                    <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis asperiores pariatur consequuntur,
                        officia
                        deserunt, laboriosam sed atque error esse perferendis nam ut saepe iste iure voluptatibus laborum
                        iusto
                        vitae magni.</p>             
                </div>
                <!-- Grid column -->         
                    <hr class="clearfix w-100 d-md-none">            
                <!-- Grid column -->
                <div class="col-md-6 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">         
                    <!-- Links -->
                    <h5>Footer text 2</h5>
                    <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">        
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ducimus magni ea mollitia placeat
                        harum
                        doloribus aut, qui expedita ipsam sed cum, modi totam sit libero? Quis, hic inventore! Impedit?</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->            
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="#">Pedagang Kaki Lima</a>
        </div>              
    </footer>
<!-- Footer -->