<%- include('partials/header'); -%>
<%- include('partials/navOut'); -%>
    <body> 
        <div class="container">
                <form action="/auth/mitra/register>" method="POST" class="form-signin">
                        <div class="card mx-auto" style="width: 20rem; margin-bottom: 50px; margin-top: 40px;">
                            <div class="card-body">
                                <h1 class="h5 mb-3 font-weight-normal" style="text-align:center;">Jadilah bagian dari kami</h1>
            
                                <div class="form-group">
                                    <label for="namaUsaha" class="sr-only">Nama Usaha</label>
                                    <input type="text" name="namaUsaha" id="namaUsaha" class="form-control" placeholder="Masukan Nama Usaha Anda" required autofocus>
                                </div>

                                <div class="form-group">
                                    <label for="sloganUsaha" class="sr-only">Slogan Usaha</label>
                                    <input type="text" name="slogan" id="sloganUsaha" class="form-control" placeholder="Masukan Slogan Usaha Anda" required autofocus>
                                </div>
            
                                <div class="form-group">
                                    <label for="alamatUsaha" class="sr-only">Alamat</label>
                                    <input type="text" name="alamatUsaha" id="alamatUsaha" class="form-control" placeholder="Masukan Alamat Usaha" required autofocus>
                                </div>
                                <!-- if user session loggedin => store to db and upload produk in next pages, else goto login pages-->
                                <div class="form-group">
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Daftar</button>
                                </div>
                            </div>
                        </div>
                    </form>
        </div>
    </body>
<%- include('partials/footer'); -%>