<%- include('partials/header'); -%>
<%- include('partials/navbar'); -%>
<body>
    <div style="text-align: center">
        <div class="container">
            <h1>Pedagang Kaki Lima</h1>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
            </p>
            <!-- Headline -->
            <div class="row">
                <div class="col-lg-4">
                    <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="300" height="300" alt="nasgor">
                    <h2>Nasgor</h2>
                </div>
                <div class="col-lg-4">
                        <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="300" height="300" alt="nasgor">
                        <h2>Nasgor</h2>
                </div>
                <div class="col-lg-4">
                        <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="300" height="300" alt="nasgor">
                        <h2>Nasgor</h2>
                </div>
            </div>
            <!-- Corousel 1-->
            <div class="container">
                <h2>Lunch</h2>
                    <div id="lunch" class="carousel slide carousel-multi-item" data-ride="carousel">
                        <div style="background-color: #777;" class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                        <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                        <h4>Salates</h4>
                                        <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                    </div><!-- /.col-lg-4 -->
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                        <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                        <h4>Meal</h4>
                                        <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                    </div><!-- /.col-lg-4 -->
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                        <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                        <h4>Drink</h4>
                                        <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                    </div><!-- /.col-lg-4 -->
                                </div><!-- /.row -->
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                        <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                        <h4>Salates</h4>
                                        <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                    </div><!-- /.col-lg-4 -->
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                        <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                        <h4>Meal</h4>
                                        <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                    </div><!-- /.col-lg-4 -->
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                        <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                        <h4>Drink</h4>
                                        <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                    </div><!-- /.col-lg-4 -->
                                </div><!-- /.row -->
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#lunch" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#lunch" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
            </div>
            <!-- Carousel 1 End -->
            <!-- Corousel 2-->
            <div class="container">
                    <h2>Lunch</h2>
                        <div id="lunch" class="carousel slide carousel-multi-item" data-ride="carousel">
                            <div style="background-color: #777;" class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                            <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                            <h4>Salates</h4>
                                            <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                        </div><!-- /.col-lg-4 -->
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                            <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                            <h4>Meal</h4>
                                            <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                        </div><!-- /.col-lg-4 -->
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                            <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                            <h4>Drink</h4>
                                            <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                        </div><!-- /.col-lg-4 -->
                                    </div><!-- /.row -->
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                            <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                            <h4>Salates</h4>
                                            <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                        </div><!-- /.col-lg-4 -->
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                            <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                            <h4>Meal</h4>
                                            <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                        </div><!-- /.col-lg-4 -->
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                            <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                            <h4>Drink</h4>
                                            <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                        </div><!-- /.col-lg-4 -->
                                    </div><!-- /.row -->
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#lunch" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#lunch" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                </div>
            <!-- Carousel 2 End -->
            <!-- Corousel 3-->
            <div class="container">
                    <h2>Lunch</h2>
                        <div id="lunch" class="carousel slide carousel-multi-item" data-ride="carousel">
                            <div style="background-color: #777;" class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                            <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                            <h4>Salates</h4>
                                            <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                        </div><!-- /.col-lg-4 -->
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                            <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                            <h4>Meal</h4>
                                            <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                        </div><!-- /.col-lg-4 -->
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                            <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                            <h4>Drink</h4>
                                            <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                        </div><!-- /.col-lg-4 -->
                                    </div><!-- /.row -->
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                            <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                            <h4>Salates</h4>
                                            <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                        </div><!-- /.col-lg-4 -->
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                            <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                            <h4>Meal</h4>
                                            <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                        </div><!-- /.col-lg-4 -->
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                            <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                            <h4>Drink</h4>
                                            <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                        </div><!-- /.col-lg-4 -->
                                    </div><!-- /.row -->
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#lunch" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#lunch" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                </div>
                <!-- Carousel 3 End -->
        </div>
    </div>
</body>
<%- include('partials/footer'); -%>