<%- include('partials/header'); -%>
<%- include('partials/navbar'); -%>
<body>
    <div class="container">
        <div style="text-align: left">
            <h1>Pedagang Kaki Lima</h1>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
            </p>      
        </div>
            <!-- Headline -->
            <div class="box-custom">
                <div class="slide-img">
                    <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" alt="1">
                </div>
                <div class="detail-box">
                    <div class="type">
                        <a href="#">Nasi Goreng</a>
                        <span>This is nasi goreng</span>
                    </div>
                    <a href="#" class="price">IDR.300</a>
                </div>
            </div>
            <!-- Headline end -->
    </div> 

    <div class="container">
        <div style="text-align: left">
            <div class="row">
                <h1>Tempat Makan Faforit kamu</h1>
            </div>
        </div>
    </div>

        <!-- Corousel 2 -->
        <div class="container">
            <div class="row">                      
                <div class="card" style="width:250px; text-align: center;">
                    <img class="card-img-top" src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" alt="Card image" width="150" height="150">
                        <div class="card-body">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                            <a href="#" class="btn btn-primary">Pesan</a>
                            </div>
                          </div>
                        <div class="card" style="width:250px; text-align: center;">
                            <img class="card-img-top" src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" alt="Card image" width="150" height="150">
                            <div class="card-body">
                                <h4 class="card-title">John Doe</h4>
                                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                <a href="#" class="btn btn-primary">Pesan</a>
                            </div>
                            </div>
                                <div class="card" style="width:250px; text-align: center;">
                                    <img class="card-img-top" src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" alt="Card image" width="150" height="150">
                                        <div class="card-body">
                                            <h4 class="card-title">John Doe</h4>
                                            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                                            <a href="#" class="btn btn-primary">Pesan</a>
                                            </div>
                                          </div>
            </div>
        </div>
        <!-- Carousel 2 End -->
         <!-- Corousel 1-->
         <div class="container">
                <h2>Lunch</h2>
                    <div id="lunch" class="carousel slide carousel-multi-item" data-ride="carousel">
                        <div style="background-color: #777;" class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                        <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                        <h4>Salates</h4>
                                        <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                    </div><!-- /.col-lg-4 -->
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                        <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                        <h4>Meal</h4>
                                        <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                    </div><!-- /.col-lg-4 -->
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                        <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                        <h4>Drink</h4>
                                        <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                    </div><!-- /.col-lg-4 -->
                                </div><!-- /.row -->
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                        <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                        <h4>Salates</h4>
                                        <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                    </div><!-- /.col-lg-4 -->
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                        <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                        <h4>Meal</h4>
                                        <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                    </div><!-- /.col-lg-4 -->
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                                        <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="150" height="150" alt="nasgor">
                                        <h4>Drink</h4>
                                        <p><a class="btn btn-default" href="#" role="button">Pesan &raquo;</a></p>
                                    </div><!-- /.col-lg-4 -->
                                </div><!-- /.row -->
                                
                        <a class="left carousel-control" href="#lunch" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#lunch" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- Carousel 1 End -->
            <script>
                    $(document).ready(function() {
                        $('#autoWidth').lightSlider({
                            autoWidth:true,
                            loop:true,
                            onSliderLoad: function() {
                                $('#autoWidth').removeClass('cS-hidden');
                            } 
                        });  
                      });
                    </script> 
</body>
<%- include('partials/footer'); -%>