<%- include('partials/header'); -%>
<%- include('partials/navOut'); -%>
    <body> 
        <div class="container">
            <h1>Product View</h1>
            <section>
            <div class="row">
                <div class="box-custom">
                    <img src="/img/capcay.jpg" style="width: 100%;" alt="1">
                    <div class="detail-box">
                        <div class="type">
                            <a >Capcay</a>
                            <span>This is capcay</span>
                        </div>
                        <div class="type">                  
                            <span>Mulai dari</span>
                            <a  class="price">IDR.300</a>
                            </div>
                        </div>
                    </div>
            <div class="col-md-5 pt-3">      
                <p>
                        Lorem ipsum dolor sit amet, 
                        consectetur adipisicing elit. 
                        Nulla unde mollitia eum velit! Consectetur incidunt, 
                        sit pariatur dolor placeat at necessitatibus ratione 
                        impedit voluptas soluta voluptatum distinctio, nesciunt quaerat eligendi.
                    </p>
                </div>

        <!-- Card -->
        <div class="col-md-3 mb-3">
                <div class="pt-4">
        
                  <h5 class="mb-3">Pesanan Anda</h5>
        
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                      Capcay
                      <span>Rp.10,000</span>
                      <span>
                        <span>2</span> Porsi <span>
                          <button class="btn btn-outline-light text-dark my-1">
                            <img src="/img/delete.svg" alt="" width="20" height="20" title="Hapus">
                          </button>
                        </span>
                      </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                      Es Teh Manis
                      <span>Gratis</span>
                      <span><span>2</span> Gelas</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                      <div>
                        <strong>Total Belanja</strong>
                        <strong>
                          <p class="mb-0">(Termasuk Pajak Kurir)</p>
                        </strong>
                      </div>
                      <span><strong>Rp.20,000</strong></span>
                    </li>
                  </ul>
        
                  <button type="button" class="btn btn-primary btn-block">Lihat Detail</button>
        
                </div>
              </div>
              <!-- Card -->

                </div>            
            </section>
            
            
            <!-- Product Grid -->
            <div class="col-lg-12 col-md-6 mb-4">

                <div class="row">
        
                  <div class="col-md-3 mb-4">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#">Item One</a>
                        </h4>
                        <h5>$24.99</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Amet numquam aspernatur!</p>
                      </div>
                      <div class="card-footer">
                        <small>
                                <div class="input-group">
                                        <span class="input-group-prepend">
                                            <button type="button" class="btn btn-outline-secondary btn-number" data-type="minus" data-field="quant[1]">
                                                <span><img src="/img/si-glyph-plus.svg" alt="" width="20" height="20" title="Kurang"></span>
                                            </button>
                                        </span>
                                        <input type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="1000">
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-outline-secondary btn-number" data-type="plus" data-field="quant[1]">
                                                <span><img src="/img/si-glyph-remove.svg" alt="" width="20" height="20" title="Tambah"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <script>
                                    $('.btn-number').click(function(e){
                                        e.preventDefault();
                                        
                                        fieldName = $(this).attr('data-field');
                                        type      = $(this).attr('data-type');
                                        var input = $("input[name='"+fieldName+"']");
                                        var currentVal = parseInt(input.val());
                                        if (!isNaN(currentVal)) {
                                            if(type == 'minus') {
                                                
                                                if(currentVal > input.attr('min')) {
                                                    input.val(currentVal - 1).change();
                                                } 
                                                if(parseInt(input.val()) == input.attr('min')) {
                                                    $(this).attr('disabled', true);
                                                }

                                            } else if(type == 'plus') {

                                                if(currentVal < input.attr('max')) {
                                                    input.val(currentVal + 1).change();
                                                }
                                                if(parseInt(input.val()) == input.attr('max')) {
                                                    $(this).attr('disabled', true);
                                                }

                                            }
                                        } else {
                                            input.val(0);
                                        }
                                    });
                                    $('.input-number').focusin(function(){
                                    $(this).data('oldValue', $(this).val());
                                    });
                                    $('.input-number').change(function() {
                                        
                                        minValue =  parseInt($(this).attr('min'));
                                        maxValue =  parseInt($(this).attr('max'));
                                        valueCurrent = parseInt($(this).val());
                                        
                                        name = $(this).attr('name');
                                        if(valueCurrent >= minValue) {
                                            $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
                                        } else {
                                            alert('Sorry, the minimum value was reached');
                                            $(this).val($(this).data('oldValue'));
                                        }
                                        if(valueCurrent <= maxValue) {
                                            $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled')
                                        } else {
                                            alert('Sorry, the maximum value was reached');
                                            $(this).val($(this).data('oldValue'));
                                        }
                                    });

                                    $(".input-number").keydown(function (e) {
                                        // Allow: backspace, delete, tab, escape, enter and .
                                        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
                                            // Allow: Ctrl+A
                                            (e.keyCode == 65 && e.ctrlKey === true) || 
                                            // Allow: home, end, left, right
                                            (e.keyCode >= 35 && e.keyCode <= 39)) {
                                                // let it happen, don't do anything
                                                return;
                                        }
                                        // Ensure that it is a number and stop the keypress
                                        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                                            e.preventDefault();
                                        }
                                    });
                                    </script>
                            </small>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-md-3 mb-4">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <span>Nasi Goreng</span>
                        </h4>
                        <h5>IDR.15,000</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
                      </div>
                      <form action="#" method="POST">
                        <div class="card-footer">
                          <center><button class="btn btn-outline-light text-dark my-1">Pesan</button></center>
                        </div>
                      </form>
                    </div>
                  </div>
        
                  <div class="col-md-3 mb-4">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#">Item Three</a>
                        </h4>
                        <h5>$24.99</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-md-3 mb-4">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#">Item Four</a>
                        </h4>
                        <h5>$24.99</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-md-3 mb-4">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#">Item Five</a>
                        </h4>
                        <h5>$24.99</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-md-3 mb-4">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#">Item Six</a>
                        </h4>
                        <h5>$24.99</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 mb-4">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#">Item Five</a>
                        </h4>
                        <h5>$24.99</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-md-3 mb-4">
                    <div class="card h-100">
                      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#">Item Six</a>
                        </h4>
                        <h5>$24.99</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                      </div>
                    </div>
                  </div>
        
                </div>
                <!-- /.row -->
        
              </div>
              <!-- /.col-lg-9 -->
        </div>
    </body>
<%- include('partials/footer'); -%>