<%- include('partials/header'); -%>
<%- include('partials/navbar'); -%>
    <body> 
        <div class="container">
            <h1>Product View</h1>
            <div class="box-custom">
                <img src="/img/capcay.jpg" style="width: 100%;" alt="1">
                <div class="detail-box">
                        <div class="type">
                            <a >Capcay</a>
                            <span>This is capcay</span>
                        </div>
                        <div class="type">                  
                         <span>Mulai dari</span>
                         <a  class="price">IDR.300</a>
                     </div>
                    </div>
            </div>
        </div>
    </body>
<%- include('partials/footer'); -%>